{% extends 'main_app/base.html' %}
{% load static %}


{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-fifths has-text-centered">
                    <h1 class="poppins-medium is-size-2-tablet is-size-1-desktop">Built to last you a liftime.</h1>
                    <p class="poppins-regular is-size-6-tablet is-size-5-desktop">We design and develop custom-built, professional websites tailored to your needs—whether you're a freelancer or a large enterprise. From sleek, personalized portfolios to advanced AI-powered solutions like user management systems, chatbots, and data-driven insights, we create scalable digital experiences that grow with your business.</p>
                    <br>
                    <p class="poppins-regular is-size-7-tablet is-size-6-dektop has-text-weight-bold">Let us help you achive your dream.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Ai offer-->
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                
                <div class="column">

                    <div class="box">
                        <div class="columns">
                            <div class="column has-text-centered">
                                <img src="" alt="">
                                <h3 class="poppins-medium">Chatbots & Virtual Assistants</h3>
                            </div>
                        </div>
                        <div class="columns is-centered">
                            <div class="column">
                                <ul class="poppins-regular">
                                    <li>Provide instat support, automate common user queries, or offer products recommendations.</li>
                                    <li>For large enterprise, this can evolve into a full-fledged AI customer service system.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="column">
                    <div class="box">
                        <div class="columns is-centered">
                            <div class="column has-text-centered">
                                <img src="" alt="">
                                <h3 class="poppins-medium">Data Analysis & Business Insights</h3>
                            </div>
                        </div>
                        <div class="columns is-centered">
                            <div class="column">
                                <ul class="ai-box poppins-regular">
                                    <li>AI can analyze user data and provide actionable insights, helping businesses of all sizes optimize their strategies.</li>
                                    <li>For enterprise, AI-driven dashboards with key business KPIs.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="box">
                        <div class="columns is-centered">
                            <div class="column has-text-centered">
                                <img src="" alt="">
                                <h3 class="poppins-medium">Automation & Workflow Optimization</h3>
                            </div>
                        </div>
                        <div class="columns is-centered">
                            <div class="column">
                                <ul class="poppins-regular">
                                    <li>Automating repetive task (e.g., handling form submissions, user follow-ups, notifiactions).</li>
                                    <li>Predictive task mangaement and process optimization.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}