{% extends "main_app/base.html" %}
{% load static %}


{% block content %}

<section class="hero is-small rl_image">
    <div class="hero-body">
        <div class="columns is-centered">
            <div class="column is-half">
                {% if user.is_authenticated %}
                
                {% else %}
                <form method="POST" class="box has-background-light">{% csrf_token %}
                    
                    <h1 class="title">Login</h1>
                    <p class="subtitle is-size-6-desktop">Don't have an account? Create your account, it takes less than a minute.</p>

                    
                    <div class="field">
                        <p class="control has-icons-left">
                            <input id="username" name="username" type="text" class="input" placeholder="Username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left">
                            <input id="password" name="password" type="password" class="input" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button is-rounded is-black">Register</button>
                        </p>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}